<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Feeds</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/users">All Users</a></li>
            <li><a href="/profile/">Your Profile</a></li>
            <li><a href="/zipcode/">Enter Zipcode</a></li>
            
          </ul>
        </nav>
    </header>
    <div class="daily">
            <h1>Welcome, {{name.firstName}} {{name.lastName}}, to our Daily Politic Dicussion Page!</h1>

            <img src="{% static 'img/flag.jpeg' %}" alt='raising' class='image' />
        
            <div>
                <h4>If you would like to see all the federal and local representatives, to give rate and share opinion, please enter the zipcode below.</h4>
                <form action="/view_officials" method="post">
                    {% csrf_token %}
                    Zipcode: <input type="text" name="zipcode">
                    <button>Enter</button>
                </form>
            </div>
        <div>
            
            <h2>Post a message for discussion:</h2>
            <form action="/message" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="" class="form-label">Image</label>
                <input type="file" name="image"><br>
                <textarea class="box" name="message" placeholder="Type your message here!!"></textarea><br><br>
                <button type="submit">Post Message</button>
            </form>
        </div>
        <div class="exist">
            <h2 class="head">The Messages:</h2>
            {% for message in messages %}
            <div class="mes">
                {% if message.user.id == request.session.user_id %}
                    <p>You posted at {{message.created_at}}:</p>
                    {% if message.image %}
                        <img src="{{message.image.url}}">
                    {% endif %}
                    <h4>{{message.message}}</h4>
                    <p><a href='/editMessage/{{message.id}}' class="ed">Edit Message</a> / 
                        <a href="/deleteMessage/{{message.id}}" class="del">Delete Message</a></p>
                        <p>{{ message.user_likes.count }} Likes<br>
                        <a href="/messageLike/{{message.id}}"><button>Like</button></a>
                {% else %}
                {% if message.image %}
                        <img src="{{message.image.url}}">
                    {% endif %}
                    <p>{{ message.user.firstName }} {{ message.user.lastName}} posted at {{message.created_at}}:</p>
                    <h4>{{message.message}}</h4>
                    <p>{{ message.user_likes.count }} Likes<br>
                        <a href="/messageLike/{{message.id}}"><button>Like</button></a>
                {% endif %}
                
                
            </div>
            <div class="comment">
                {% for comment in message.comments.all %}
                    {% if comment.user.id == request.session.user_id %}
                        <div class="comment1">
                            <p>You commented at {{comment.created_at}}:</p>
                            <h5>{{comment.comment}}</h5>
                            <p><a href='/editComment/{{comment.id}}' class="ed">Edit Comment</a> / 
                                <a href="/deleteComment/{{comment.id}}" class="del">Delete Comment</a>
                                <p>{{ comment.user_likes.count }} Likes<br>
                                <a href="/commentLike/{{comment.id}}"><button>Like</button></a>
                            </p>
                        </div>
                    {% else %}
                        <div class="comment1">
                            <p>{{ comment.user.firstName }} {{ comment.user.lastName}} commented at {{comment.created_at}}:</p>
                            <h5>{{comment.comment}}</h5>
                            <p>{{ comment.user_likes.count }} Likes<br>
                            <a href="/commentLike/{{comment.id}}"><button>Like</button></a>
                        </div>
                    {% endif %}
                {% endfor %}
                    
            </div>
                    
                    <div class="comment">
                        <h5>Post your comment here:</h5>
                        <form action="/comment" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea class="box1" name="comment" placeholder="Type your comment here!!"></textarea>
                            <input type="hidden" name="comment_id" value="{{message.id}}">
                            <p><button type="submit">Post Comment</button></p>
                        </form>                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>