<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit message</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </nav>
    </header>
    <h2>Welcome {{users.firstName}} {{users.lastName}}!!</h2>
    <p> To err is human, write something wrong? Edit it here</p>
    
    <form action="/updateComment/{{ editComment.id }}" method="post">
        {% csrf_token %}
        <section>
            <label for='comment'>Your comment:</label>
            <textarea class="box" name="message" placeholder="Type your message here!!"></textarea>
        </section>
        <button>Save Edits</button>
    </form>
    <p><a href="/deleteComment/{{comment.id}}" class="del"><button>Delete Comment</button> </a></p>
</body>
</html>