<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit message</title>{% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </nav>
    </header>
    <h2>Welcome, {{users.lastName}} {{users.firstName}}!!</h2>
    <p> To err is human, write something wrong? Edit it here</p>
    
    <form action="/updateMessage/{{ editMessage.id }}" method="post">
        {% csrf_token %}
        <section>
            <label for='message'>Your message:</label>
            <input type='text' name='message' id='message' value="{{editMessage.message}}" class="box">
        </section>
        <button>Save Edits</button>
    </form>
    <p><a href="/deleteMessage/{{message.id}}" class="del"><button>Delete Message</button></a></p>
</body>
</html>