<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editUser.username}}</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
            <nav class="navbar">
            <ul>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/success/">Daily Feeds</a></li>
                <li><a href="/zipcode/">Enter new zipcode</a></li>
            </ul>
            </nav>
        </header> 
        <div class='all'>
            <h4>Welcome, {{user.firstName}} {{user.lastName}}!!</h4>
            <p>Your username: <b><u>{{user.username}}</u></b><br>
            Email address: <b><u>{{user.email}}</u></b></p>
        </div>
        <div class='login'>
            <form action='/updateUser/{{user.id}}' method='post'>
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName' id='firstName' value='{{editUser.firstName}}'>
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName' id='lastName' value='{{editUser.lastName}}'>
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username' id='username' value='{{editUser.username}}'>
                </section>
                <section>
                    <label form='email'>Email Address:</label>
                    <input type='email' name='email' id='email' value={{editUser.email}}>
                </section>
                <button>Update User</button>
            </form>
            <a href='/deleteUser/{{user.id}}'><button>Delete User</button></a>
        </div>
    </div>
</body>
</html>