<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the Officials</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/profile/">Your Profile</a></li>
            <li><a href="/users">All Users</a></li>
            <li><a href="/success/">Daily Feeds</a></li>
            <li><a href="/zipcode/">Enter new zipcode</a></li>
          </ul>
        </nav>
      </header> 
      <h1>We, The People!!!</h1>
      <img src="{% static 'img/people.jpg' %}" alt='people' class='people' />
      <h2>Those are your federal and local representatives</h2>
      <div class="container">
        <table id="customers" class="office">
          <thead>
              <tr>
                <th>Official Name:</th>
                <th>Party</th>
                <th>Elected Office</th>
                <th>Official Profile Page</th>
              </tr>
          </thead>
          <tbody>
          {% for official in officials %}
          <tr>
            <td>{{official.name}}</td>
            <td>{{official.party}}</td>
            <td>{{official.elected_office}}</td>
            <td><a href="/rate/{{ official.name }}/{{ official.elected_office }}" class="link">Give rate and share your thought on this official</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
</body>
</html>