<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
        <ul>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/success/">Daily Feeds</a></li>
            <li><a href="/zipcode/">Enter new zipcode</a></li>
        </ul>
        </nav>
    </header> 
    <div class='users'>
        <h1>Profile page for {{users.firstName}} {{users.lastName}}</h1>
        <h3>Your information:</h3>
        <section>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <h3>{{user.email}}</h3>
            <h3>{{user.username}}</h3>
            <a href='/editUser/{{user.id}}' class="green">Edit User</a>
            <a href='/deleteUser/{{user.id}}'>Delete User</a>
        </section>
    </div>
</body>
</html>

