<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate page</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ official_name }} <br> {{ elected_office }}<br> {{officials.photo}}</h1>
    <div class="rate">
        <h3>Rate Your Official</h3>
        <form action="/rate/" method="POST">
            {% csrf_token %}
            <section>
                <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </section>
            <button>submit</button>
        </form>
    </div>
    <div class="opinion">
    <h2>Give Your Opinion</h2>
    <form action="/opinion" method="POST">
        {% csrf_token %}
        <textarea class="box" name="opinion" placeholder="Type your opinion here!!"></textarea>
        <button type="submit">Post Message</button>
    </form>
</div>
<div class="exist">
    <h2 class="head">Your Opinion:</h2>
    {% for opinion in opinions %}
    <div class="mes">
        {% if opinion.user.id == request.session.user_id %}
            <p>You posted your opinion at: {{opinion.created_at}}:</p>
            <h4>{{opinion.opinion}}</h4>
            <p><a href="/deleteOpinion/{{opinion.id}}">Delete Your Opinion</a></p>
        {% else %}
            <p>{{ opinion.user.firstName }} {{ opinion.user.lastName}} posted at {{opinion.created_at}}:</p>
            <h4>{{opinion.opinion}}</h4>
            {% endif %}
        </div>
            {% for reply in opinion.replies.all %}
                    {% if reply.user.id == request.session.user_id %}
                        <div class="comment">
                            <p>You replied at {{reply.created_at}}:</p>
                            <h5>{{reply.reply}}</h5>
                            <p><a href="/deleteReply/{{reply.id}}">Delete Reply</a></p>
                        </div>
                    {% else %}
                        <div class="reply">
                            <p>{{ reply.user.firstName }} {{ reply.user.lastName}} replied at {{reply.created_at}}:</p>
                            <h5>{{reply.reply}}</h5>
                        </div>
                    {% endif %}
            {% endfor %}
            <div class="reply">
                <h5>Post a reply:</h5>
                <form action="/reply" method="POST">
                    {% csrf_token %}
                    <textarea class="box" name="reply" placeholder="Type your reply here!!"></textarea>
                    <input type="hidden" name="opinion_id" value="{{opinion.id}}">
                    <p><button type="submit">Post Reply</button></p>
                </form>                    
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>