body{
    background-color: rgb(248, 226, 170);
    display: flex;
    flex-direction: column;

}

.navbar{
    background-color: gray;
    color: white;
    float: left;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    margin: 25px;
}

li{
    display: inline;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: white;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    }

.main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.reply{
    margin-left: 100px;
    border-bottom: solid black;
}
.message{
    margin-top: 100px;
}
.mes{
    border-bottom: double black;
    width: 500px;
    border-top: solid black;
}
.comment{
    margin-left: 50px;
    
}
.exit{
    
}
.comment1{
    margin-left: 50px;
}
.official{
    border-bottom: double black;
    width: 500px;
    text-align: center;
}

.link{
    color: blue;
}

.profile{
    background-color: rgb(39, 85, 39);
}

img{
    width: 100px;
}
.red{
    color: red;
}

.box{
    min-height: 75px;
    width: 300px;
}
.box1{
    min-height: 60px;
    width: 225px;
}
.zipcode{
    display: flex;
    flex-direction: row;
}

.del{
    color: cornflowerblue;
}

.ed{
    color: cornflowerblue;
}

.num{
    color: blue;
    font-size: 5px;
}

.green{
    color: green;
}

.image{
    min-width: 750px;
}
.people{
    width: 500px;
    height: 200px;
}
.image{
    width: 750px;
    height: 400px;
}

